<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="myDIDao" class="cn.jijiking.spring01.dao.impl.TestDIDaoImpl">
                <!-- collaborators and configuration for this bean go here -->
        </bean>

        <bean id="testDIService" class="cn.jijiking.spring01.service.impl.TestDIServiceImpl">
                <constructor-arg index="0" ref="myDIDao"/>
        </bean>

        <!--<bean id="testDIService" class="cn.jijiking.spring01.service.impl.TestDIServiceImpl">-->
                <!--<property name="testDIDao" ref="myDIDao"/>-->
        <!--</bean>-->

</beans>